@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Dancing+Script:wght@500;600&display=swap");
* {
  --sec2FontColor: #ffffff;
  --hover: #C29DE8;
  --press:#AE73EA;

}

.HM_section5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 3541px;
}

.HM_sec5_content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HM_sec5_p1 {
  position: absolute;
  width: 887px;
  height: 72px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 60px;
  top: 88px;
  color: var(--sec2FontColor);
}

.HM_sec5_p2 {
  position: absolute;
  width: 958px;
  height: 168px;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 140px;
  top: 150px;
  color: var(--sec2FontColor);
}


.HM_sec5_writeBtn {
  position: absolute;
  width: 385px;
  height: 95px;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 46px;
  top: 632px;
  color: var(--sec2FontColor);
  background-color: transparent;
  border: 8px var(--sec2FontColor) solid;
  border-radius: 100px;
}

.HM_sec5_writeBtn:hover{
  background-color: var(--hover);
  border-color: var(--hover);
  color: var(--sec2FontColor);
}


.HM_sec5_writeBtn:active {
  background-color: var(--press);
  border-color: var(--press);
  color: var(--sec2FontColor);
}